<main>
    <input type="button" value=" Go to all tickets" onclick="window.location='/tickets'" class="prev-button">
    <h1 class="error-h1">Error {{httpStatusCode}} </h1>
    <h2 class="error-h2">{{httpErrorName}} </h2>
    <p class="error">{{errorMessage}}</p>
</main>